extends ./layout.jade

block vars
  - var title = 'Catalog Success'

block content
  h1 You successfully added the items to the kit!

  a(href='/kits/content')
    button(type="button", class="btn btn-lg btn-primary btn-block") View Kit

  a(href='/kits/catalog')
    button(type="button", class="btn btn-lg btn-primary btn-block") Keep Searching
