extends ./layout.jade

block vars
  - var title = 'Kit No Delete'

block content
  h1 Oops!
  p.
    Nothing selected for delection.

  br

  a(href='/kits')
    button(type="button", class="btn btn-lg btn-primary btn-block") Back to Kit List

