extends ./layout.jade

block vars
  - var title = 'Kit Success'

block content
  h1 You created a kit!
  p.
    Would you like to add items to your kit or suspend your kit-making session?

  br

  a(href='/kits/redircat')
    button(type="button", class="btn btn-lg btn-primary btn-block") Add Items to Kit

  a(href='/kits')
    button(type="button", class="btn btn-lg btn-primary btn-block") Back to Kit List

