extends ./layout.jade

block vars
  - var title = 'No Delete'

block content
  h1 Oops!
  p.
    Nothing selected for deletion.

  br

  a(href=prevpage)
    button(type="button", class="btn btn-lg btn-primary btn-block") Back

