extends ./layout.jade

block vars
  - var title = 'Requests'

block content
  h1 Requests

  if error
    p ERROR: #{error}

  if requests[0] != undefined
    p.
      Request History:
    table(border='1')
      thead
        tr
          th Date
          th Approved
          th Title
          th Data
      tbody
        for request in requests
          tr
            for field in request
              td= field
  else
    p.
      You have no requests.

  br

  a(href='/requests/new')
    button(type="button", class="btn btn-lg btn-primary btn-block") New Request