extends ./layout.jade

block vars
  - var title = 'Request Success'

block content
  h1 You did it!
  p.
    Successfully made a request!

  br

  a(href='/requests')
    button(type="button", class="btn btn-lg btn-primary btn-block") Back to Request History

