extends ./layout.jade

block vars
  - var title = 'Search Results'

block content
  h1 Search Results

  // check if the first element is undefined, if it is then no entries
  if results[0] != undefined
    p.
      Displaying matches...
    table(border='1')
      thead
        tr
          th Drug Name
          th Generic Name 
      tbody
        for entry in results
          // key, value of each field
          for value, key in entry
            if key == 'generic'
              td
                a(href='/search/'+value) #{value}
            else
              td= value
          tr
  else
    p.
      No matches found.

  br
  a(href='/search')
    button(type="button", class="btn btn-lg btn-primary btn-block") Go Back


