extends ./layout.jade

block vars
  - var title = 'Search'

block content

  if error
    p ERROR: #{error}
  br

  div.container
    div.row
      div.col-md-12

        p Search for medication:
        div.input-group#gen-search
          form(method="post", id="gensearch")
            input.form-control(type="text", name="gensearch", placeholder="Search...")
          div.input-group-btn
            button.btn.btn-primary(type="submit", form="gensearch")
              span.glyphicon.glyphicon-search(aria-hidden="true")

        hr
        p OR
        hr

        p Select medication from dropdown:
        div.input-group#dd-search
          form(method="post", id="ddsearch")
            select(name='ddsearch') // change back to gensearch is doesn't work
              for drug in drugs
                option(value=drug['dname']) #{drug['dname']}
              //option(value='advil') Advil
              //option(value='lol1') LOL
              //option(value='lol2') LOL2
              //option(value='lol3') LOL3
            button.btn.btn-primary(type="submit", form="ddsearch")
              span.glyphicon.glyphicon-search(aria-hidden="true")
