extends ./layout.jade

block vars
  - var title = 'Unavailable'

block content
  h1 Unavailable page.

  p.
    Feature is not yet available.

  a(href=prevpage)
    button(type="button", class="btn btn-lg btn-primary btn-block") Back
